@use "../../Globals/" as Globals; 
@use '../../Utils/' as u;
// ================================================
// Globals.$font; 

    
.Menu-main{
    background-color: var(--Background-color);
    padding: u.Rem(12) u.Rem(13) 0 u.Rem(13);
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 40px;
    margin-bottom: u.Rem(-50);

    @include u.breakpoint(Large){
        padding-inline: u.Rem(210);
        padding: u.Rem(30) u.Rem(210) u.Rem(20) u.Rem(210);
        margin-inline: auto;
        width: u.Rem(1055);
    }
    &__title{
        @include u.breakpoint(Large){
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__name{
            font-family:Globals.$Secondary-font;
            font-size: u.Rem(28);
            font-weight: 400;
            margin-bottom: 0;
            @media(max-width:21.5625rem){
                font-size: u.Rem(22);
            }
        }

    }

    &__article{
        display: grid;
        grid-template-columns: 1fr ;
        gap: u.Rem(12);
      

        &__title{
            margin: u.Rem(35) 0 0 0;
            display: flex;
            flex-direction: column-reverse;
            font-size: u.Rem(16);
            font-weight: 300;
            text-transform: uppercase;
            animation-name: Apparition;
            animation-duration: 2s;
           
        
            &::before{
                content: '';
                border: solid var(--Tertiary-color) 1.5px;
                width: u.Rem(40);
                margin-top: u.Rem(5);
            }
        }
    }

    &__section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: u.Rem(40) 0 u.Rem(40) 0;
    }
}




