@use '../../Utils/' as u;
// ================================================

.Menu-section__img{
     width:100%;
     object-fit: cover;
     height: u.Rem(275);
     @include u.breakpoint(Large){
        height: u.Rem(383);
     }
}