@use '../../Utils/' as u;
// ================================================

.Menu-section__img{
     width:100%;
     object-fit: cover;
     height: u.Rem(275);
     @media(min-width:65rem){
        height: u.Rem(383);
     }
}