@use '../Utils/' as u;
// ================================================


.Fonctionnement{
    padding:0 u.Rem(20);
    @media(min-width:65rem){
        padding: 0 u.Rem(180);
    }

    &__title{
        margin: u.Rem(50) 0 u.Rem(25) 0;
        @media(min-width:65rem){
            margin-bottom: u.Rem(25);
        }
    }

    &__div{
        display: flex;
        flex-direction: column;
        margin-bottom: u.Rem(60);
        gap: u.Rem(25);
        @media(min-width:65rem){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: u.Rem(36);
        }
    }
}