.Fonctionnement{
    padding:0 1.25rem;
    @media(min-width:65rem){
        padding: 0 11.25rem;
    }

    &__title{
        margin: 3.125rem 0 1.5625rem 0;
        @media(min-width:65rem){
            margin-bottom: 1.5625rem;
        }
    }

    &__div{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.75rem;
        gap: 1.5625rem;
        @media(min-width:65rem){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.25rem;
        }
    }
}