@use "../Globals/" as G;
@use '../Utils/' as u;
// ================================================

.Footer{
    display: flex;
    flex-direction: column;
    padding: 0 0 u.Rem(25) u.Rem(25);
    background-color:#353535;
    color: white;
    gap: u.Rem(7);

    @media(min-width:65rem){
        flex-direction:row;
        position: relative;
        justify-content:end;
        align-items: end;
        padding: 0 u.Rem(250) u.Rem(35) 0;
        height: u.Rem(114);
        gap: u.Rem(20);
    }

    &__title{
        font-family: G.$Secondary-font;
        font-weight: 400;
        font-size:u.Rem(18);
        margin-bottom: u.Rem(15);

        @media(min-width:65rem){
            position: absolute;
            right: 70px;
            bottom: 20px;
        }
    }

    &__logo{
        margin-right: u.Rem(12);
        width: u.Rem(10);

        @media(min-width:65rem){
            font-size:u.Rem(12);
        }
    }

    &__link{
        color: white;
    }

    &--margin{
        @media(min-width:65rem){
            margin-right: u.Rem(30);
        }
    }
}