@use "../Globals/" as G;
@use '../Utils/' as u;
// ================================================

.Header{
    &__title{
        text-align: center;
        font-family: G.$Secondary-font;
        margin: u.Rem(15) 0 u.Rem(5) 0;
        @include u.breakpoint(Medium){
            // tablette+ // 
            font-size: u.Rem(40);
            margin: u.Rem(15) u.Rem(15) u.Rem(15);
        }
    }
}