@use '../Utils/' as u;
// ================================================

.Under-Header{
    text-align: center;
    background-color: var(--Background-color);
    padding-bottom: u.Rem(70);
    @include u.breakpoint(Large){ 
      padding-bottom: u.Rem(45);
    }

    &__localisation{
      color: #353535;
      background-color: #EAEAEA;
      box-shadow:inset 0px 2px 4px 0px #d1d1d1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      margin-bottom:u.Rem(40);

       &__logo{
         padding-right: u.Rem(15);
       }
    }

    &__title{
      @include u.breakpoint(Large){ 
        font-size:u.Rem(40);
      }
    }

    &__text{
      font-size: u.Rem(18);
      font-weight: 300;
      color: #353535;
      margin-bottom: u.Rem(45);
    }
    
}