@use '../Utils/' as u;
// ================================================

.Card{
    display: flex;
    align-items: center;
    background-color: var(--Background-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position:relative;
    height: u.Rem(73);
    margin:0 0 0 u.Rem(8);
    cursor: pointer;
    &:hover{
        .Card__logo{
            color: #9356DC;
        }
    }

    &__number{
        position: absolute;
        left: -10px;
        bottom: 8px;
        font-size:  u.Rem(13);
        padding: u.Rem(4) u.Rem(8);
        border-radius: 50%;
        background-color: #9356DC;
        color: white;
    }

    &__logo{
        margin: 0 u.Rem(28) 0 u.Rem(35);
        font-size: u.Rem(19);
        color: #7E7E7E;
    }

    &__text{
        font-weight: 500;
    }
}