@use '../Utils/' as u;
// ================================================

.Food{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    height: u.Rem(69);
    cursor: pointer;

    &__text{
        padding: u.Rem(10) 0 u.Rem(10) u.Rem(15);
        overflow: hidden;

        &__title{
            font-size: u.Rem(18);
            font-weight: 500;
            margin: 0 0 u.Rem(5) 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__subtitle{
            font-size: u.Rem(15);
            font-weight: 300;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &__price{
            position: absolute;
            right: 15px;
            bottom: 0;
            font-weight: 700;
            font-size: u.Rem(13);
            transition: 400ms;
        }
    }

    &__checkmark{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 100%;
        background-color: var(--Tertiary-color);
        border-radius: 0 15px 15px 0;
        overflow: hidden;
        transition: 400ms;
        margin-left: u.Rem(70);
        flex-shrink: 0;

        &__logo{
            color: var(--Tertiary-color);
            padding: u.Rem(3) u.Rem(4);
            border-radius: 50%;
            background-color: white;
            font-size: u.Rem(14);
            animation-name: CheckmarkReversed;
            animation-duration: 250ms; // Bug visuel si valeur = 400ms
          }

    }

    &:hover{
      .Food__checkmark{
        width: u.Rem(59);
        transition: 400ms; 
      }

      .Food__checkmark__logo{
        animation-name: Checkmark;
        animation-duration: 400ms;
        animation-fill-mode: forwards;
      }

      .Food__text__price{
        right: 74px;
        transition: 400ms;
      }
    }
}

@for $i from 1 through 12{
  .Food:nth-child(#{$i}){
    animation-name: Apparition;
    animation-duration: ($i * 250ms);
  }
}

