@use '../Utils/' as u;
// ================================================

.Loader{
    justify-content: center;
    align-items: center;
    display: flex;
    position:fixed;
    z-index: 1;
    inset: 0;
    background-color: var(--Background-color);
    animation-name: Disparition;
    animation-delay:2.8s;
    animation-fill-mode:forwards;

    &::after{
        content: '';
        border: solid var(--Secondary-color) 5px;
        padding: u.Rem(40);
        border-radius: 50%;
        animation-name: Logo-spin;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    &::before{
        content: '';
        position: absolute;
        border-top: solid var( --Tertiary-color) 4px;
        padding: u.Rem(41.5);
        border-radius: 50%;
        animation-name: Quick-spin;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    &__logo{
        position: absolute;
        padding: u.Rem(15);
        font-size: u.Rem(50);
        color: var(--Primary-color);
        animation-name: Logo-spin;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
}


