@use '../Utils/' as u;
// ================================================

.Menu-card{
  display: flex;
  flex-direction: column;
  margin: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  cursor: pointer;

  &__img{
    height: u.Rem(174);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &__span{
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 2px;
    padding: u.Rem(7) u.Rem(14);
    font-size: u.Rem(14);
    font-weight: 500;
    background-color: #99E2D0;
    color: #008766;
  }

  &__figcaption{
    height: u.Rem(77);
    padding: u.Rem(15);
    position: relative;
    color: black;
  }

  &__title{
    margin:0;
    font-size:u.Rem(18);
  }

  &__text{
    margin: u.Rem(3) 0 0 0 ;
    font-size:u.Rem(17);
    font-weight: 300;
  }

  &__logo{
    position: absolute;
    top:20px;
    right: 25px;
    font-size: u.Rem(28);
    
    &--full{
      opacity: 0%;
      animation-name: Reverse;
      animation-duration: 0.5s;
    &:hover{
      animation-name: Like;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
  }
  &--margin{
    right: 25px;
    top: 5px;
    @media(min-width:1040px){
      position: relative;
      left: 24px;
    }
  }
}

}

.Bonus{
  @media(min-width:1040px){

    position: relative;
    left: -4px;
  }
}




